.question-detail-container {
  .navigator {
    .go-back {
      .icon {
        width: 30px;
        cursor: pointer;
      }
      display: flex;
      align-items: center;
      gap: 10px;
      width: 120px;
    }
  }

  .question-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
